GROQ_API_KEY=COLE_SUA_CHAVE_GROQ_AQUI
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_MAX_TOKENS=2000
GROQ_MAX_INPUT_TOKENS=6000
MAX_HISTORY_MESSAGES=8
APP_NAME=Bot Financeiro
PORT=3005
APP_SESSION_SECRET=troque_por_um_texto_grande_e_aleatorio
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=COLE_SUA_SERVICE_ROLE_KEY_AQUI
